/* nav-bar styling */

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;  
    font-weight: 400;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 5px;
}

li a {
    display: block;
    padding: 8px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

/* logo styling */

.logo {
    display: flex;
    align-items: center;
    gap: 2px; /* Space between vertical and horizontal bars */
}

.vertical-bars, .horizontal-bars {
    display: flex;
    gap: 2px; /* Space between individual bars */
}

.vertical-bars {
    flex-direction: row;
}

.horizontal-bars {
    flex-direction: column;
}

.bar {
    background-color: black;
}

.vertical-bar {
    width: 4px;
    height: 22px;
}

.horizontal-bar {
    width: 25px;
    height: 4px;
}